@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(255,194,25);
    background: linear-gradient(90deg, rgba(255,194,25,1) 0%, rgba(215,254,255,1) 48%, rgba(0,95,255,1) 100%);
    height: 90vh;
    display: flex;
    justify-content: center;
}

.container{
    background: white;
    color: black;  
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 50px;
    width: 700px;
    border-radius: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile1{
    border-radius: 50%;
    border: 3px solid rgb(248, 190, 118);
}
.profile2{
    border-radius: 50%;
    border: 3px solid rgb(94, 174, 240);
}

.name{
    margin: 25px 0;
    font-size: x-large;
    font-weight: bold;
}

.round{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}

.button{
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    color:white;
    border: none;
    margin-top: 20px;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
    background: #d53369;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.button:hover{
    box-shadow: 0 0 10px 0 black;
}

.score{
    margin: -80px 0 0;
    font-size: xx-large;
}

.score>span{
    margin: 0 5px;
}

#final-result{
    margin-top: 15px;
    background: #d53369;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: x-large;
    font-weight: bolder;
    background-size: text;
    
}